doctype html
html
	head
		title Personal page
		link(rel='stylesheet', type='text/css', href='./bootstrap.min.css')
		link(rel='stylesheet', type='text/css', href='./style.css')
	body
		.jumbotron.text-center
			h1 Profile
			a(href='/logout') log out
		.container
			.row
				.col-md-offset-4
					each result in data
						p #{result.user.username}: #{result.message} 
						each comment in result.comments
							p #{comment.comment}
						form(action='/comment', method='POST')
							.form-group.row
								.form-group.col-md-6
									input(type='text', name='id', value=result.id, hidden)
									input(name='comment', placeholder='Enter comment', type='text')
									button.btn.btn-primary(type='submit') comment
						
		.container
			.row
				.col-md-offset-4
					form(action='/profile', method='POST')
						.form-group.row
							.form-group.col-md-6
								label(for='message') message:
								input#message.form-control(name='message', placeholder='Enter message', type='text')

						.form-group.col-md-6
							button.btn.btn-primary(type='submit') Post message
